<!DOCTYPE html>
<html>
    <head>
      <title>Video Upload</title>
    </head>
    
<body>
 <h1>Video Upload</h1>
 <form action="/videoUpload" method="post" enctype="multipart/form-data">
    <h2>File upload</h2>
    <input type="file" name="video">
    <input type="submit" value="submit">
</form>
    
</body>
</html>